/* clearfix! */

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* UTILITIES */
.float-l{
  float: left;
}





/* Colonna 2 parti */
.colonna-2p{
  width: 50%;
}

.transparent-button{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 10px;
}

.green-button{
  background-color: rgb(124,187,2);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
}

.block{
  display: block;
}

.clearfix{
  content:"";
  display: table;
  clear:both;
}

/* .font-size-standard{
  font-size: 11px;
} */

/* /UTILITIES */

.content, .header-top, .header-bottom, .select-plan{
  min-width: 1400px;
}

.content {
  width: 80%;
  margin: 0 auto;
}


.header-top .content{
  height: 100vh;
}

.header-top{
  position: relative;
  width: 100%;
  min-width:1400px;
  height: 100vh;
  background-color: rgb(12,50,90);
  color: white;
  padding-top:20px;
}

.header-top-bar{
  height: 5vh;
}

.header-top-content{
  position: relative;
  height: 100%;
}

.header-top-colonna1{
  position: relative;
  height: 100%;
  width: 15%;
}

.header-top-colonna2{
  width: 50%;
  height: 100%;
}

.header-top-colonna3{
  width: 35%;
  height: 100%;
}

.logo{
  position: absolute;
  left:0%;
  top:50%;
  transform: translate(0%,-50%);
}

.header-top-bar a, .slogan a{
  text-decoration: none;
  color: white;

}

.header-top-bar a:hover {
  color: white;
  background: rgba(0,0,0,0.2);
}



.header-top-bar ul{
  text-decoration: none;
  list-style: none;
}

.header-top-bar ul li{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  /* line-height: 5vh; */
  line-height: 50px;
  padding-right: 20px;
  /* border: 1px solid white; */
}




.header-top-sfondo{
  position: absolute;
  bottom:0%;
  left: 30%;
  /* transform: translate(-100%;-100%); */
  width: 70%;
  height: 60%;
  background-image: url("../img/sfondo-header.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  /* border: 1px solid white; */

}

.header-bottom{
  height: 125px;
  background-color: rgb(211,211,211);
  text-align: center;
}

.header-bottom-content{
  position: relative;
  height: 100%;
}

.content h2{
  font-size: 32px;
  padding-top: 20px;
}

.content h3{
  font-size: 32px;
  min-height: 75px;
}

.content p{
  padding: 10px 0;
  font-size: 24px;
  line-height: 32px;
  color: #8a8a8a;
}


.relative{
  position: relative;
  width: 100%;
  height: 100%;
  /* height: 900px; */
  /* border: 1px solid white; */
}

.relative .green-button{
  padding: 30px;
}


.slogan{
  width: 45%;
  /* Centra in verticale */
  position: absolute;
  left:0%;
  top:30%;
  transform: translate(0%;-50%);
  /* /Centra in verticale */

  font-size: 64px;
  font-weight: bold;
  line-height: 100px;
}

/* .main-content{
  height: 1200px;

} */

.riga-1, .riga-2{
  text-align: center;
  padding: 50px 0px
}

.riga-1{
  border-bottom: 1px solid #8a8a8a;
}


.icon-container-128{
  height: 128px;
  display: inline-block;
}

/* Colonna 3 parti */
.colonna-3p{
  width: calc(100% / 3);
  height: 500px;
  padding: 0px 20px;
}

.colonna-3p img{
  height: 100%;
}

.colonna-3p h3{
  margin: 15px 0;
  color: #a6d155;
}

.colonna-3p hr{
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  width: 75px;

}


.riga-2 .colonna-2p:first-child{
  text-align: right;
  padding-right: 50px;
}

.riga-2 .colonna-2p:nth-child(2){
  text-align: left;
  padding-left: 50px;
  width: 35%;
}

.img-container-512{
  height: 512px;
}

.img-container-512 img{
  height: 512px;
}




.select-plan{
  height: 125px;
  background-color: rgb(211,211,211);
}

.select-plan .content{
  padding:20px 0;
}

/* .select-plan-content{
  height:100%;
} */
