*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* UTILITIES */
.float{
  float: left;
}

.transparent-button{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 10px;
}

.green-button{
  background-color: rgb(124,187,2);
  border-radius: 5px;
  padding: 10px 10px;
}


/* Imposto larghezza dei contenuti in un unico posto*/
.header-top-content, .header-bottom-content, .main-content, .select-plan-content{
  width: 80%;
  margin: 0 auto;
  border: 1px solid orange;
}


.header-top{
  width: 100%;
  height: 100vh;
  background-color: rgb(12,50,90);
  color: white;
}

.header-top-bar{
  height: 5vh;
}

.header-top-content{
  position: relative;
  height: 100%;
}

.header-top-colonna1{
  position: relative;
  height: 100%;
  width: 15%;
}

.header-top-colonna2{
  width: 50%;
  height: 100%;
}

.header-top-colonna3{
  width: 35%;
  height: 100%;
}

.logo{
  position: absolute;
  left:0%;
  top:50%;
  transform: translate(0%,-50%);
}

.header-top-bar a {
  text-decoration: none;
  color: white;

}

.header-top-bar a:hover {
  color: white;
  background: rgba(0,0,0,0.2);
}



.header-top-bar ul{
  text-decoration: none;
  list-style: none;
}

.header-top-bar ul li{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  line-height: 5vh;
  padding-right: 20px;
  /* border: 1px solid white; */
}


/* .header-top-sfondo{
  position: absolute;
  bottom:0px;
  right: 0px;
  width: 60vw;
  height: 60vh;
  border: 1px solid white;
  background-image: url("../img/sfondo-header.png");
  background-size: contain;
  background-repeat: no-repeat;

} */

.header-bottom{
  height: 100px;
  background-color: rgb(211,211,211);
}

.header-bottom-content{
  height: 100%;
}


.main-content{
  height: 1200px;

}

.select-plan{
  height: 100px;
  background-color: rgb(211,211,211);
}

.select-plan-content{
  height:100%;
}
